header{
    margin: auto;
    text-align: center;
}
input[type=text], select{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=date]{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=number]{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=button]{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button].buttonTambah{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 5%;
}
input[type=submit].buttonEdit{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 5%;
}
input[type=button].changeButton{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 1%;
    margin-top: 10px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px;
    min-height: 200px;
}
.column-1{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 6px;

} 
.column-2{
    float: left;
    width: 50%;
    margin-top: 6px;

}
.subcolumn-1{
    float: left;
    width: 25%;
    margin-top: 50px;
    text-align: center;
}
.subcolumn-2{
    float: left;
    width: 25%;
    margin-top: 50px;
}
.subcolumn-3{
    float: left;
    width: 25%;
    margin-top: 50px;
    text-align: center;
}
.subcolumn-4{
    float: left;
    width: 25%;
    margin-top: 50px;
}
.subcolumnHeader-1{
    float: left;
    width: 50%;
    margin-top: 6px;
}
.subcolumnHeader-2{
    float: left;
    width: 50%;
    margin-top: 6px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column-1{
        width: 40%;
    }
    .column-2{
        width: 60%;
    }
    label{
        text-align: center;
    }
    input[type=text]{
        width: 100%;
    }
    .subcolumn-1,.subcolumn-3{
        width: 25%;
    }
    select{
        width: 90%;
    }
    input[type=button].buttonAdd{
        float: right;
        margin-right: 10%;
    }
    input[type=button].buttonTambah{
        float: right;
        margin-top: 10%;
        margin-right: 10%;
    }
    input[type=submit].buttonEdit{
        float: left;
        margin-top: 10%;
        margin-left: 10%;
        position: absolute;
    }
    input[type=button].editData{
        float: right;
    }
    .container{
        padding: 5px 0px;
    }
    @media screen and (max-width: 600px) {
        .subcolumn-1, .subcolumn-3{
            scale: 0.6 ;
            width: 15%;
        }
        .subcolumn-2, .subcolumn-4{
            scale: 0.6;
            width: 35%;
        }
    }
}